body{
   background-image: url(https://i.gifer.com/origin/1c/1c161055a12c8ca0fbe11a95c606ef17_w200.gif);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
#titulo_texto{
    margin-left: 30%;
    color: white;
    width: fit-content;
    cursor:grabbing;
}
#titulo_texto:hover{
    
    .sp1{
    color: lightblue;
    }
    .sp2{
    color: blue;
    }
    .sp3{
    color: darkblue;
    }
}


#title{
    text-align: center;
    background-color: black;
}
#title img{
    position: absolute;
    left: 20px;
    border-radius: 10px 10px;
    top: 2.5%;
    box-shadow: 1px 1px 20px blue;
    

}
#title img:hover{
    opacity: 0.3;
    cursor: pointer;
}

#link1{
    color: black;
    background-color: white;
    border-radius: 3px 3px;
    height: 18px;
    width: 55px;
    position: absolute;
    left: 34.5%;
    font-size:120%;
    opacity: 0.3;
}
#link2{
     color: black;
    background-color: white;
    border-radius: 3px 3px;
    height: 18px;
    width: 95px;
    position: absolute;
    left: 59%;
    font-size:120%;
    opacity: 0.3;
}
#link1:hover{
    height: 25px;
    width: 65px;
    opacity: 1;
    left: 33.5%;
}
#link2:hover{
    height: 25px;
    width: 105px;
    opacity: 1;
    left: 58%;
}
#link1:visited, #link2:visited{
    color: black;
}
#tabelaproj{
    background-color: white;
    width: 100%;
    border-radius: 3px 3px;
    
   
}
#tabela_borda{
    border: solid gray;
    box-shadow: 1px 1px 10px black;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    margin-left: 40%;
    border-radius: 10px 10px;
    color: white;
    font-size: 110%;
    width: 250px;
    

}
#tabela_borda .titulo{
    box-shadow: 1px 1px 10px white;
    cursor:no-drop;
}
#tabela_borda a:visited{
    color: darkblue;
}
#tabela_borda a{
    color: gray;
}
#tabela_borda .texto{
    box-shadow: 1px 1px 10px blue;;
}
