body{
    background-color: LightSkyBlue;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
#titulo_texto{
    margin-left: 30%;
    color: white;
    width: fit-content;
    cursor:grabbing;
}
#titulo_texto:hover{
    
    .sp1{
    color: mediumaquamarine;
    }
    .sp2{
    color: Teal;
    }
    .sp3{
    color: Aquamarine;
    }
    .ps4{
    color: Teal;
    }
}



#title{
    text-align: center;
    background-color: SteelBlue;
}
#title img{
    position: absolute;
    left: 20px;
    border-radius: 10px 10px;
    top: 2.5%;
    box-shadow: 1px 1px 20px LightSkyBlue;
    

}
#title img:hover{
    opacity: 0.3;
    cursor: pointer;
}


#tabelaproj{
    background-color: white;
    width: 100%;
    border-radius: 3px 3px;
    
   
}
#tabela_borda{
    border: solid teal;
    box-shadow: 1px 5px 10px teal;
    background-color: SteelBlue;
    text-align: center;
    font-family: sans-serif;
    margin-left: 40%;
    border-radius: 10px 10px;
    color: white;
    font-size: 110%;
    width: 250px;
    

}
#tabela_borda .titulo{
    box-shadow: 1px 1px 10px  rgb(2, 88, 163);
    border-radius: 0px 0px 10px 10px;
    cursor:no-drop;
    color: MediumTurquoise;
}
#tabela_borda a:visited{
    color: lime;
}
#tabela_borda a{
    color: lime;
}
#tabela_borda .texto{
    box-shadow: 1px 2px 5px  CadetBlue;
    border-radius: 0px 0px 10px 0px;
}
#caixa_link{
    position: fixed;
    bottom: 10px;
    left: 90%;
    background-color: MidnightBlue;
    width: 110px;
    height: 110px;
    text-align: center;
    border-radius: 10px 10px;
    
}
#link1{
    color: cadetblue;
    border-radius: 3px 3px;
    font-size:120%;
    display: inline;
    position: relative;
    top: 10%;

}
#link2{
    color: cadetblue;
    border-radius: 3px 3px;
    font-size:120%;
    position: relative;
    top: 40%;
    
    
    
}

#link1:visited, #link2:visited{
    color: cadetblue;
}
