body{
   background-image: url(https://i.gifer.com/origin/1c/1c161055a12c8ca0fbe11a95c606ef17_w200.gif);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
#titulo_texto{
    margin-left: 35%;
    color: white;
    width: fit-content;
    cursor:grabbing;
}
#titulo_texto:hover{
    
    .sp1{
    color: SteelBlue;
    }
    .sp2{
    color: DodgerBlue;
    }
    .sp3{
    color: blue;
    }
    .ps4{
    color: mediumblue;
    }
}


#title{
    text-align: center;
    background-color: black;
}
#title img{
    position: absolute;
    left: 20px;
    border-radius: 10px 10px;
    top: 2.5%;
    box-shadow: 1px 1px 20px blue;
    

}
#title img:hover{
    opacity: 0.3;
    cursor: pointer;
}

#link1{
    color: black;
    background-color: white;
    border-radius: 3px 3px;
    position: absolute;
    font-size:120%;
    opacity: 0.3;
    display: inline;
}
#link2{
     color: black;
    background-color: white;
    border-radius: 3px 3px;
    position: absolute;
    font-size:120%;
    opacity: 0.3;
    
}
#link1:hover{
    height: 25px;
    width: 65px;
    opacity: 1;
    left: 33.5%;
}
#link2:hover{
    height: 25px;
    width: 105px;
    opacity: 1;
    left: 58%;
}
#link1:visited, #link2:visited{
    color: black;
}
#pg1{
    background-color: whitesmoke;
}
#pg1 #texto1{
    text-align: center;
    font-size: 20px;
}
a:visited{
    color: brown;
}
#mapa{
    height: 150px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
#pgtitulo{
    background-color: black;
}
#info-pessoal{
   padding-left: 10px;
}
#texto2{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px black;
    
}
#pg2{
    background-color: whitesmoke;

}
.textos{
    text-align: center;
    color: blue;
    font-size: 30px;
    text-shadow: 3px 3px 10px lightblue;
}

#tabela{
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    color: blue;
    font-size: 25px;
    background-color: lightblue;
    border: solid 5px blue;
    
}
#tabela img{
    border-radius: 10px 10px;
    cursor: pointer;
    opacity: 0.3;
}
#tabela img:hover{
    height: 200px;
    width: 200px;
    box-shadow: 1px 1px 20px black;
    opacity: 1;
}
.music{
    font-size: 20px;
    text-align: center;
}
.music p{
    font-size: 20px;
    text-align:left;
}
iframe{
    border-radius: 10px 10px;
}
div{
    border-radius: 10px 10px;
}
#jogos{
    margin-left: 10px;
    font-size: 20px;
    text-align: justify;
}
#caixa_link{
    position: fixed;
    bottom: 10px;
    left: 93%;
    background-color: black;
    width: 100px;
    height: 100px;
}

