body{
    background-color: aquamarine;
}
form{
    display: flex;
    background-color: wheat;
    justify-content: center;
}
input{
    margin: 5px;
    width: 200px;
}
div{
    display: inline;
    background-color: coral;
    margin-left: 50px;
    font-size: 100px;
}