body{
    background-color: aquamarine;
}
p{
    color: red;
}
#calculo{
    height: 100px;
    width: 200px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}