<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>status POST</title>
</head>
<body><div>
    <h1><%= resposta %></h1>
    </div>
    <a href="/blog">Home</a>

    
</body>
<style>
        div{
            display: flex;
            justify-content: center;
            background: linear-gradient(to right, rgb(73, 13, 63), rgb(0, 0, 0));
            color: white;
        }
        body{
            background-color: rgb(0, 0, 0);
             text-align: center;
            
        }
        a{
           
            color: white;
        }
        
    </style>
</html>