<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESULTADO USUARIO</title>
 
</head>
<style>
h1 {
    color: blue;
    text-align: center;
}
body {
    background-color: #e0f7fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

</style>
<body>
    <h1>Status do usuario:</h1>
    <h1><%= status %></h1>
    <h2>email: <%= email %></h2>
    <h2>senha: <%= senha %></h2>
</body>
</html>