body {
    font-family: Arial, sans-serif;
    background-image: url('fundoc.gif');
    margin: 0;
    padding: 0;
}
#caixa_login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #e1dbfa;
}

#caixa_login h1 {
    text-align: center;
    color: #3d787c;
}

#caixa_login form {
    display: flex;
    flex-direction: column;
}

#caixa_login form p {
    margin: 5px 0;
    color: #3d787c;
}

#email, #senha {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#botao_login {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb2b8;
    color: white;
    cursor: pointer;
}

#botao_login:hover {
    background-color: #3d787c;
}
#link {
    text-align: center;
    margin-top: 10px;
}
#link a {
    color: #337ab7;
    text-decoration: none;
}
#link a:hover {
    text-decoration: underline;
}