body{
   background-image: url("fundo.jpg");
   background-size: cover;
   background-attachment: fixed;

}

div{
    display: flex;
    justify-content: center;

}
form{
    background: linear-gradient(to right, rgb(73, 13, 63), rgb(0, 0, 0));
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

h1{
    text-align: center;
    color:  rgb(146, 23, 202);
    font-family:'Times New Roman', Times, serif;
}
.button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    color:  rgb(195, 0, 255);
    background-color:  rgb(106, 6, 136);
    box-shadow: 3px 3px 3px;
    border: 0;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(195, 0, 255);
    color:  rgb(106, 6, 136);
}
.texto{
    height: 30px;
    width: auto;
    border-radius: 10px;
    border: 0;
}
p{
    color: white;
}
