
body {
    margin: 0;
    padding: 20px;
    font-family: monospace;
    background: linear-gradient(135deg, #4a00e0, #8e2de2);
    color: white;
}

#cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 15px;
    padding: 25px 30px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    letter-spacing: 1px;
}

/* Bloco dos botões combinando com o tema */
#botoes {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.35);
}


a {
    font-family: monospace;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

a:hover {
    background: linear-gradient(135deg, #ff0080, #ff8c00);
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.35);
}
