body {
   background: linear-gradient(to right, #434343, #000000);
}
#cima{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #000000, #686868);
    color: white;
    border-radius: 10px;
    font-family: monospace;
    padding: 20px;
}
#botoes {
    background: linear-gradient(to right, #000000, #a01d1d);
    color: white;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    flex-direction: column;

   
}
a{
    font-family: monospace;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
}

a:hover {
    
    background-color: #a01d1d;
    color: white;
    transition: 0.3s;
}